.create-profile {
    background-image: url("../../img//create.jpeg");
    background-size: cover;
    display: flex;
    height: 100vh;
}
.createprofile-btn{
    background-color: #ca3432 !important;
	color: #ffffff !important;
}
.card{
    margin-top:20px;
}